* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Jura";
  src: url("../../fonts/Jura/static/Jura-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/static/Montserrat-Regular.ttf");
}
.App {
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin: auto;
  border: 1px solid red;
}
.App > .header {
  position: relative;
}
.App > .header > .header_nav {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: auto;
  padding: 18px 100px;
  background: rgba(33, 33, 33, 0.8);
  -webkit-backdrop-filter: blur(5.5px);
          backdrop-filter: blur(5.5px);
}
.App > .header > .header_nav > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.App > .header > .header_nav > ul > .header_nav_left {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.App > .header > .header_nav > ul > .header_nav_left > li > a {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.App > .header > .header_nav > ul > .header_nav_left > li > a > .menu {
  background-color: red;
  background-color: transparent;
}
.App > .header > .header_nav > ul > .header_nav_left > li > a > .menu > .offcanvas {
  width: 300px;
  height: 150px;
  background-color: red;
}
.App > .header > .header_nav > ul > .header_nav_left > li > a > .fa-sharp {
  color: white;
  font-size: 17px;
}
.App > .header > .header_nav > ul > .header_nav_left > li:nth-child(2) {
  margin: 0 25px;
}
.App > .header > .header_nav > ul > .header_nav_center {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.App > .header > .header_nav > ul > .header_nav_center > li > a {
  text-decoration: none;
}
.App > .header > .header_nav > ul > .header_nav_center > li > a > p {
  color: white;
  font-size: 25px;
  font-family: "Montserrat";
  font-weight: 700;
}
.App > .header > .header_nav > ul > .header_nav_center > li > a > p > font {
  background-color: white;
  color: black;
}
.App > .header > .header_nav > ul > .header_nav_right {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.App > .header > .header_nav > ul > .header_nav_right > li > a > .fa-solid {
  color: white;
  font-size: 17px;
}
.App > .header > .header_nav > ul > .header_nav_right > li:nth-child(2) {
  margin: 0 25px;
}
.App > .header > .swiper {
  width: 100%;
  height: 600px;
  border: 1px solid red;
}
.App > .header > .swiper > .swiper-wrapper > .swiper-slide {
  background: url("../../images/img1.png") no-repeat center center/cover;
}
.App > .header > .swiper > .swiper-button-prev {
  border: 1px solid #FFFFFF;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 190px;
  margin-left: 100px;
}
.App > .header > .swiper > .swiper-button-prev > ::after {
  display: none;
}
.App > .header > .swiper > .swiper-button-next {
  border: 1px solid #FFFFFF;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 190px;
  margin-right: 100px;
}
.App > .header > .header_info {
  position: absolute;
  z-index: 1;
  top: 0;
  margin-top: 150px;
  margin-left: 190px;
}
.App > .header > .header_info > h1 {
  max-width: 550px;
  width: 100%;
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  font-size: 41px;
  line-height: 48px;
  color: #FFFFFF;
}
.App > .header > .header_info > p {
  max-width: 550px;
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  color: #FFFFFF;
  margin-top: 25px;
}
.App > .header > .header_info > button {
  width: 165px;
  height: 55px;
  border: 2px solid #C80000;
  border-radius: 27px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
  background: transparent;
  transition: all 0.75s;
  margin-top: 40px;
}
.App > .header > .header_info > button:hover {
  background-color: red;
}
.App > .body {
  width: 100%;
  height: auto;
  background: #373737;
  padding: 60px 120px;
}
.App > .body > .body_icons {
  border: 1px solid red;
  padding: 0 80px;
}
.App > .body > .body_icons > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.App > .body > .body_icons > ul > li {
  text-align: center;
  border: 1px solid red;
}
.App > .body > .body_icons > ul > li > a > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #FFFFFF;
  opacity: 0.4;
  margin-top: 25px;
}
.App > .body > .body_icons > ul > li:hover p {
  color: #FF0000;
}
.App > .body > .body_knife {
  margin-top: 65px;
}
.App > .body > .body_knife > .body_knife_cards {
  width: 100%;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.App > .body > .body_knife > .body_knife_cards > .body_knife_cards_img {
  padding: 25px 28px;
  margin-top: 25px;
  max-width: 590px;
  width: 100%;
  height: 481px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  border-radius: 15px;
  background: url("../../images/img2.png") no-repeat center center/cover;
}
.App > .body > .body_knife > .body_knife_cards > .body_knife_cards_img > a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
}
.App > .body > .body_knife > .body_knife_cards > .body_knife_cards_img > .fa-arrow-right-long {
  color: white;
  margin-bottom: 5px;
}
.App > .body > .body_knife > .body_knife_cards > .body_knife_cards_block {
  width: 286px;
  height: 480px;
  border: 1px solid red;
  margin-top: 25px;
}
.App > .body > .body_knife > .body_knife_cards > .body_knife_cards_block > .block_image {
  width: 100%;
  height: 412px;
  background-color: #272727;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.App > .body > .body_knife > .body_knife_cards > .body_knife_cards_block > .block_image > .circle {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 37px;
  height: 37px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 50%;
  transition: 0.75s;
}
.App > .body > .body_knife > .body_knife_cards > .body_knife_cards_block > .block_image > .circle > .fa-plus {
  align-self: center;
  color: white;
  font-size: 35px;
  margin-top: -10px;
}
.App > .body > .body_knife > .body_knife_cards > .body_knife_cards_block > .block_image:hover > .circle {
  background-color: red;
}
.App > .body > .body_knife > .body_knife_cards > .body_knife_cards_block > h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 12px;
}
.App > .body > .body_knife > .body_knife_cards > .body_knife_cards_block > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.5;
}
.App > .body > .body_knife > .body_knife_cards > .body_knife_cards_block > p > font {
  color: #ff0000;
  margin-left: 30px;
}
.App > .body > .body_knife > .body_knife_cards > .instagram {
  width: 286px;
  height: 412px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 30px 0 107px;
  background: url("../../images/img5.png") no-repeat center center/cover;
}
.App > .body > .body_knife > .body_knife_cards > .instagram > .fa-instagram {
  color: white;
  font-size: 30px;
}
.App > .body > .body_knife > .body_knife_cards > .instagram > p {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: white;
}
.App > .body > .email {
  border: 1px solid red;
  margin-top: 50px;
}
.App > .body > .email > .email_info {
  text-align: center;
}
.App > .body > .email > .email_info > p {
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 42px;
  color: #FFFFFF;
}
.App > .body > .email > .email_info > input {
  width: 276px;
  height: 59px;
  background: #272727;
  border-radius: 6px;
  border: none;
  padding: 20px 26px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.5;
  margin-top: 15px;
  outline: none;
}
.App > .body > .email > .email_block {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 35px;
}
.App > .body > .email > .email_block > .email_block_cards {
  width: 286px;
  height: 480px;
  border: 1px solid red;
  margin-top: 25px;
}
.App > .body > .email > .email_block > .email_block_cards > .block_image {
  width: 100%;
  height: 412px;
  background-color: #272727;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.App > .body > .email > .email_block > .email_block_cards > .block_image > .circle {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 37px;
  height: 37px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 50%;
  transition: 0.75s;
}
.App > .body > .email > .email_block > .email_block_cards > .block_image > .circle > .fa-plus {
  align-self: center;
  color: white;
  font-size: 35px;
  margin-top: -10px;
}
.App > .body > .email > .email_block > .email_block_cards > .block_image:hover > .circle {
  background-color: red;
}
.App > .body > .email > .email_block > .email_block_cards > h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 12px;
}
.App > .body > .email > .email_block > .email_block_cards > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.5;
}
.App > .body > .email > .email_block > .email_block_cards > p > font {
  color: #ff0000;
  margin-left: 30px;
}/*# sourceMappingURL=Style.css.map */